@model IEnumerable<ClassroomWebAppV2.Models.Homework>

@{
    ViewData["Title"] = "Homework";
}

<h1>Every assignment</h1>

<p class="create-new-homework">
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HomeworkTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeworkDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HomeworkTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeworkDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
